# ===== MAVEN =====
target/

# ===== MAVEN WRAPPER (NO IGNORAR wrapper.jar) =====
.mvn/wrapper/maven-wrapper.properties

# ===== SPRING BOOT =====
HELP.md

# ===== IDEs =====
.classpath
.project
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache

.idea/
*.iws
*.iml
*.ipr

nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/
build/

.vscode/

# ===== SYSTEM =====
.DS_Store
Thumbs.db